/* ====================================
// css variables
// ==================================== */

:root {
  --beige: #ebead2;
  --grey: #979797;
  --white: #fff;
  --black: #000;
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.5rem;
}

.section {
  background-color: var(--beige);
  margin: 15px;
  padding: 15px 0;
}

.section .box {
  background-color: var(--white);
  border: 1px solid var(--grey);
}

.section-1 {
  display: flex;
  text-align: center;
}

.section-1 .box {
  width: calc(100% / 4)
}

.section-2 {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.section-2 .box {
  width: calc(100% / 2)
}
a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */
